@using WebApplication2.Models;
@using WebApplication2.Controllers;
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h1>Password Sent</h1>
<div>
    <p>
        Please check your email to reset your password.
    </p>
    
</div>