@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>Youtube Use Case</h1>
    <p>
        The YouTube Data API (v3) lets us incorporate YouTube functionality into a web application. We can use the API to fetch search results and to retrieve, insert, update, and delete resources like videos or playlists.

        In conjunction with the YouTube Player APIs and the YouTube Analytics API, the API lets your application provide a full-fledged YouTube experience that includes search and discovery, content creation, video playback, account management, and viewer statistics.
    </p>
    <p>For hackathon we wer asked to implement the search functionality of youtube data api.</p>

    <p><a class="btn btn-default" href="~/List/Index">Youtube V3 search</a></p>

</div>
