@{
    ViewBag.Title = "Contact";
}
<h2>ContactInfo</h2>

<address>
    Rainigari Vishnu Chander<br />
    Umkc, 16157693<br />
    
</address>
<address>
   Shyam Raaj<br />
    Umkc<br />
  
</address>
<address>
    Sai Karthik<br />
    Umkc, <br />
</address>

